/* Основні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.btn3 {
    background-color: #0056b3 ;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Шапка */
header {
    background-color: #007BFF;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Герой секція */
.hero {
    background-color: #0056b3;
    color: white;
    padding: 50px 0;
    text-align: center;
}
.hero1 {
    background-color:  #f4f4f4;
    color: white;
    padding: 50px 0;
    text-align: center;
}
.hero h2 {
    margin: 0;
    font-size: 2.5em;
}

.hero p {
    font-size: 1.2em;
    margin: 20px 0;
}
.btn1 {
    background-color: #ffcc00;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.btn2 {
    background-color:#f4f4f4;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.hero .btn {
    background-color: #ffcc00;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* Секція товарів */
.products {
    padding: 50px 0;
}

.products h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2em;
    background-color: #ffcc00;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-card h3 {
    margin: 15px 0;
    font-size: 1.5em;
}

.product-card p {
    margin: 10px 0;
}

.product-card .price {
    font-size: 1.2em;
    color: #007BFF;
    font-weight: bold;
}

.product-card .btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

/* Підвал */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

footer p {
    margin: 0;
}
